.selecter {
    font-style: italic;
}
body {
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px; 
    font-family: "Georgia", serif;
    line-height: 1.8; 
    color: #202020;
}
font[color="#EEEEEE"] {
    color: #000000; /* Đặt màu chính xác (nhạt hơn nhưng dễ nhìn hơn) */
    font-family: "Courier New", monospace; /* Font giống mã lập trình */
    font-size: 16px; /* Đảm bảo kích thước chữ đồng đều */
    font-weight: bold; 
}